

.postTitle{
    margin: 0 0 20px 0;
    text-align: center;
    color: aliceblue;
}

.postContent{
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    gap: 10px;
    flex-wrap: wrap;
    background-color: aliceblue;
    border-radius: 10px;
}

.postContent > p{
    margin: 0;
}

.postContent > .link{
    color: brown;
    line-height: 1;
    font-size: .875rem;
}

.postContent > .link:hover{
    text-decoration: underline;
}